---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

$color-primary: #0E34A0;
$color-secondary: #2f3061;
$color-link: #2a7ae2;
$color-bg: #DFDFDF;
$color-text: #343434;
$color-text-light: #828282;


body {
	background: $color-bg;

	.site-header {
		border-top: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	a {
		color: $color-link;

		&:visited {
			color: $color-link;
		}
	}
}

.header-wrapper {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid white;
}
.site-header {
	border-bottom: none;
	max-width: calc(800px - (30px * 2));
	padding: 0 30px;
	width: 100%;

	.social-media-list {
		display: flex;
		align-items: center;
		margin-bottom: 0;

		li {
			margin-right: 16px;

			.svg-icon {
				padding-right: 2px;
			}
		}
	}
	.social-media-list li + li {
		padding-top: 0;
	}
}

.u-email {
	margin-right: 16px;
	width: 16px;
	svg {
		fill: #828282;
	}
}

a, p, h1, h2, h3, h4, h5, h6 {
	color: $color-text;
}